.login-wrapper {
    .Modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $darkblue;
        background-size: cover;
        border-radius: 5px;
    
    }
}